.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 40vh;
  background: rgba(black, 0.3);
}

.footer-icons {
  margin: 10px;
}

.top-button {
  border: 1px solid white;
  background-color: black;
  color: white;
  padding: 15px;
    &:hover {
      cursor: pointer;
    }
}