.menu {
  li {
    margin: 15px;
    display: inline-block;
    list-style: none;
    a {
      padding: 10px;
      color: grey;
      text-decoration: none;
      background-color: transparent;
      &:hover {
        background-color: rgba(grey, 0.4);
      }
    }
  }

}